
/* HEADER */

header{
position: fixed;
top: 0;
z-index: 999;
width: 100%;
background-color: white;
}

header div{
  line-height: 80px;
}

header div a{
  text-decoration: none;
  padding: 0 10px;
  color: black;
}
header div a:hover{
  text-decoration: underline;
}

header div a img{
  vertical-align: middle;
  
}

header .image:hover{
  text-decoration: none;
}

.nav-right{
  text-align: right;
  padding-right: 15px;
}
.nav-left{
  padding-left: 15px;
}





/* /HEADER */

/* JUMBOTRON */


.jumbotron{
  background-color: rgb(180, 208, 231);
}

.titolo{
  padding: 20px 0;
}

.jumbotron div p{
  padding: 20px 40px 20px 0;
}

.jumbotron img{
  width: 100%;
  padding-top: 40px;
  transform: scale(1.2);
}


/* /JUMBOTRON */





/* MAIN */


/* TABELLA PIANI */


.titoloh2{
  margin-top: 130px;
  margin-bottom: 30px;
}


.titoloh2 .fatturazione{
  display: inline-block;
}

.box-piani .col-bottom .top-box{
  text-align: center;
  border-bottom: 1px solid black;
  padding: 10px 0;
}

.box-piani .col .top-box{
  text-align: center;
  border-bottom: 1px solid black;
  padding: 10px 0;
}
.box-piani .box-container{
  padding: 30px;
}

.button-box{
  margin-top: 20px;
  margin-right: 10px;
}

.box-container .bordino{
  border-bottom: 1px solid black;
}

.col-left{
  margin-left: 0;
}

.col-right{
  margin-right: 0;
}
.col-center{
  margin-left: 45px;
}
.col-bottom{
  margin-top: 25px;
  width: calc(100%);
  border: 1px solid black;

}






/* /TABELLA PIANI */

.partner{
  margin-top: 50px;
}

.partner div img{
  width: 100%;
  
}

.partner-text{
  padding: 30px 0 0px 60px;
}

.partner-text p{
  line-height: 30px;
}




/* COLONNE BUSINESS */

.box-business{
  padding: 15px 0 50px 0;
}

.box-business img{
  width: 100%;
}

.box-business h3{
  margin-bottom: 20px;
}



/* /COLONNE BUSINESS */


.link{
  margin-bottom: 30px;
}

/* LOGO */

.logo{
  width: calc(100% / 4);
}

.logo-img{
  position: relative;
  height: 50%;
}

.logo-img .cont-img{
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
}

.logo-img img{
  width: 100%;
}

.logo-text{
  padding: 30px;
}

.logo-text img{
  width: 20%;
}

.logo-text span{
  width: 10%;
  border-bottom: 1px solid grey;
}

.logo-text p{
  margin-top: 30px;
}


.prova-gratuita{
  background-color: rgb(180, 208, 231);
  padding: 50px 0;
}

.prova-gratuita .button{
  margin-top: 60px;
}


/* /LOGO */


/* FAQ */

.faq{
  padding: 100px 0;
}

.faq .question{
  border-bottom: 1px solid lightgrey;
}

.faq h3{
  padding-bottom: 40px;
  border-bottom: 1px solid lightgrey;
}

.faq h5{
  line-height: 90px;

}

.faq .fa-angle-down{
  width: 450px;
  text-align: right;
  /* margin-right: 10px; */
}


.question:hover{
  background-color: aqua;
}

/* /FAQ */


/* /MAIN */


/* FOOTER */



.blocco{
  margin-bottom: 20px;
}

.blocco h3{
  color: white;
  padding: 30px 0;
}

.blocco ul li{
  padding: 10px 0;
}

.blocco ul li a{
  text-decoration: none;
  color: white;
}


.language div{
  border-top: 1px solid white;
}
/* /FOOTER */