
/* HEADER */

header{
position: fixed;
top: 0;
z-index: 999;
width: 100%;
}

header div{
  text-align: center;
  line-height: 70px;
}

header div a{
  text-decoration: none;
  padding: 0 10px;
}

header div a img{
  vertical-align: middle;
  
}


/* /HEADER */





/* MAIN */

.col-bottom{
  margin-top: 25px;
  width: calc(100% - 30px);
}

.titoloh2{
  margin-bottom: 15px;
}

.box-business{
  padding: 15px;
}

/* /MAIN */




/* FOOTER */

.blocco{
  margin-bottom: 20px;
}
/* /FOOTER */