
/* HEADER */

header{
position: fixed;
top: 0;
z-index: 999;
width: 100%;
background-color: white;
}

header div{
  line-height: 70px;
}

header div a{
  text-decoration: none;
  padding: 0 10px;
  color: black;
}

header div a img{
  vertical-align: middle;
  
}

.nav-right{
  text-align: right;
  padding-right: 15px;
}
.nav-left{
  padding-left: 15px;
}



/* /HEADER */

/* JUMBOTRON */


.jumbotron{
  background-color: rgb(180, 208, 231);
}

.titolo{
  padding: 20px 0;
}

.jumbotron div p{
  padding: 20px 40px 20px 0;
}

.jumbotron img{
  width: 100%;
  padding-top: 40px;
  transform: scale(1.2);
}


/* /JUMBOTRON */





/* MAIN */


/* TABELLA PIANI */


.titoloh2{
  margin-top: 130px;
  margin-bottom: 30px;
}


.titoloh2 .fatturazione{
  display: inline-block;
}

.box-piani .col .top-box{
  text-align: center;
  border-bottom: 1px solid black;
  padding: 10px 0;
}
.box-piani .box-container{
  padding: 30px;
}

.button-box{
  margin-top: 20px;
  margin-right: 10px;
}

.box-container .bordino{
  border-bottom: 1px solid black;
}

.col-bottom{
  margin-top: 25px;
  width: calc(100% - 30px);
}




/* /TABELLA PIANI */

.partner{
  margin-top: 50px;
}

.partner div img{
  width: 100%;
}

.partner-text{
  padding: 30px 0 0px 60px;
}

.partner-text p{
  line-height: 30px;
}


/* COLONNE BUSINESS */

.box-business{
  padding: 15px;
}

.box-business img{
  width: 100%;
}

.box-business h3{
  margin-bottom: 20px;
}

.link{
  margin-bottom: 30px;
}



/* /COLONNE BUSINESS */

/* /MAIN */



/* FOOTER */

.blocco{
  margin-bottom: 20px;
}
/* /FOOTER */