

.container{
width: 80%;
margin: 0 auto;
max-width: 1300px;
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}


/* FLOAT */

.float-left{
  float: left;
}

.float-right{
  float: right;
}

.text-center{
  text-align: center;
}

.inline-block{
  display: inline-block;
}

/* MARGIN */


.margin-center{
  margin: 0 auto;
}

.margin-10{
  margin: 0 10px;
}

.margin-20{
  margin: 0 20px;
}
.margin-top-20{
  margin: 20px 0;
}

/* PADDING */

.padding-10{
  padding: 10px 0;
}
.padding-20{
  padding: 20px 0;
}
.padding-20-middle{
  padding: 0 20px;
}
.padding-20-tot{
  padding: 20px 20px;
}
.padding-30{
  padding: 30px 0;
}


/* LARGHEZZE */

.w30{
  width: 30%;
}

.w40{
  width: 40%;
}
.w40-2{
  width: calc(40% - 40px);
}

.w-50{
  width: 50%;
}

.w50-2{
  width: calc(100% / 2 - 20px);
}
.w60{
  width: 60%;
}
.w80{
  width: 80%;
}

.w90{
  width: 90%;
}

.w1-3{
  width: calc(100% / 3 - 30px);
}

.w1-5{
  width: calc(100% / 5 - 40px);
}

/* ALTEZZE */

.h80{
  height: 80px;
}

.h90{
  height: 90px;
}

.h90-2{
  height: calc(100% - 100px);
}
.h400{
  height: 400px;
}

.h600{
  height: 600px;
}

.h1200{
  height: 1200px;
}


.w30vw{
  width: 30vw;
}
.w40vw{
  width: 39vw;
}

.w25vw{
  width: 15vw;
}

/* GENERAL */

.col{
  border: 1px solid rgba(0, 0, 0, .2);
}



.check-box{
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: white;
  border: 1px solid black;
  display: inline-block;
  cursor: pointer;
}

.check-box:active{
  border: 4px solid rgb(0, 97, 255);
}

.text-decoration:hover{
  text-decoration: none;
}

.underline{
  text-decoration: underline;
  color: rgb(0, 97, 255);
}


/* BUTTON */


.button{
  padding: 7px 15px;
  background-color: rgb(0, 97, 255);
  color: white;
}


.btn-blu:hover{
  background-color:rgba(0, 97, 255, 0.8);
}

.btn-white{
  background-color: white;
  color: black;

}

.btn-white.button-box:hover{
  background-color: rgba(182, 182, 182, 0.2);

}

.btn-large{
  padding: 7px 50px;
}



/* COLOR */ 

.green{
  background-color: rgb(163, 210, 157);
}

.brown{
  background-color: rgb(96, 11, 43);
}

.azure{
  background-color: rgb(23, 148, 204);
}

.red{
  background-color: rgb(252, 33, 41);
}

.red2{
  background-color: rgb(210, 10, 39);
}

.azure2{
  background-color: rgb(181, 208, 230);
}

.blue{
  background-color: rgb(16, 47, 127);
}

.yellow{
  background-color: rgb(254, 215, 69);
}

.grey{
  background-color: rgb(236, 236, 236);
}

.light-grey{
  color: rgba(0, 0, 0, .5);
}


/* DEBUG */

.debug{
background-color: rgba(255, 0, 0, .3);
border: 1px solid black;
}

.h100{
  height: 100px;
}

.h200{
  height: 200px;
}

.h300{
  height: 300px;
}

.h500{
  height: 500px;
}

.h750{
  height: 750px;
}

.h900{
  height: 900px;
}

.w40{
  width: 40%;
}


.h-pieno{
  height: 100%;
}
/* /DEBUG */