

.container{
width: 80%;
margin: 0 auto;
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

.h80{
  height: 80px;
}


.float-left{
  float: left;
}

.float-right{
  float: right;
}

.text-center{
  text-align: center;
}

.margin-center{
  margin: 0 auto;
}

.margin-10{
  margin: 0 10px;
}

.margin-20{
  margin: 0 20px;
}



.w50{
  width: calc(100% / 2 - 20px);
}

.w40{
  width: calc(40% - 40px);
}

.w60{
  width: 60%;
}

.w80{
  width: 80%;
}

.w1-3{
  width: calc(100% / 3 - 30px);
}

.w1-5{
  width: calc(100% / 5 - 40px);
}

.h90{
  height: calc(100% - 150px);
}

.col{
  margin: 0 15px;
}


.button{
  padding: 5px 15px;
  background-color: rgb(0, 97, 255);
  color: white;
}


/* DEBUG */

.debug{
background-color: rgba(255, 0, 0, .3);
border: 1px solid black;
}

.h100{
  height: 100px;
}

.h200{
  height: 200px;
}

.h300{
  height: 300px;
}

.h500{
  height: 500px;
}

.h900{
  height: 900px;
}

.w40{
  width: 40%;
}


.h-pieno{
  height: 100%;
}
/* /DEBUG */